<div class="header d-flex justify-content-between">



    <% data.forEach(function(val){ %>
   

    <div class="logo d-flex align-items-center mt-3">
        <div class="imgs d-flex align-items-center">
            <img src="/img/online-learning.png" alt="">
        </div>
        <p class="display-6 fs-4 text-muted ms-2 mt-3">Career Express</p>
    </div>
    <div class="right d-flex">

        <% if(val.image){ %>
            <div class="img-pro">
                <img src="/unipic/<%= val.image %>" alt="profile_pic" width="40" height="40">
            </div>
        <% }else{ %>
            <div class="img-pro">
                <img src="/img/avatar.png" alt="profile_pic" width="40" height="40">
            </div>
        <% } %>

       

        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                aria-expanded="false">
                <%= val.name %>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/uniprofile">Profile</a></li>
                <li><a class="dropdown-item" href="#">Setting</a></li>
                <li><a class="dropdown-item" href="/unilogout">Logout</a></li>
            </ul>
        </div>

        <% }) %>

    </div>
</div>