<div class="side-bar" id="side-bar">

    <div class="main-item ms-3 pt-4 d-flex justify-content-start align-items-center">
        <i id="dash-btn" class="fa-solid fa-bars dash-icon"></i>
        <a href="/udash" class="menu-itemz">
            <p id="def4" class="def text-light ms-3 pt-2 fw-bold">Dashboard</p>
        </a>
    </div>

   

    <a href="/uc_post" class="d-block menu-itemz">
        <div class="items mt-5 d-flex justify-content-start">
            <i class="fa-regular fa-pen-to-square ms-3"></i>
            <p id="def1" class="def">Create Post</p>
        </div>
    </a>
    <a href="/universityposts" class="d-block menu-itemz">
        <div class="items  d-flex justify-content-start">
            <i class="fa-solid fa-book ms-3"></i>
            <p id="def" class="def">Admission Posts</p>
        </div>
    </a>
    <a href="/waiver_post" class="d-block menu-itemz">
        <div class="items d-flex justify-content-start">
            <i class="fa-solid fa-business-time ms-3"></i>
            <p id="def2" class="def">Waiver Details</p>
        </div>
    </a>
    <a href="/waivers" class="d-block menu-itemz">
        <div class="items d-flex justify-content-start">
            <i class="fa-brands fa-squarespace ms-3"></i>
            <p id="def3" class="def">Others</p>
        </div>
    </a>
</div>