<div class="side-bar" id="side-bar">

    <div class="main-item ms-3 pt-4 d-flex justify-content-start align-items-center">
        <i id="dash-btn" class="fa-solid fa-bars dash-icon"></i>
        <a href="/cdash" class="menu-itemz">
            <p id="def4" class="def text-light ms-3 pt-2 fw-bold">Dashboard</p>
        </a>
    </div>

    <a href="/uniposts" class="d-block menu-itemz">
        <div class="items mt-5 d-flex justify-content-start">
            <i class="fa-solid fa-book ms-3"></i>
            <p id="def" class="def">Admission Posts</p>
        </div>
    </a>
    <a href="/unilist" class="d-block menu-itemz">
        <div class="items d-flex justify-content-start">
            <i class="fa-solid fa-book ms-3"></i>
            <p id="def5" class="def">University Requests</p>
        </div>
    </a>
    <a href="/uniaplist" class="d-block menu-itemz">
        <div class="items d-flex justify-content-start">
            <i class="fa-solid fa-book ms-3"></i>
            <p id="def7" class="def">University List</p>
        </div>
    </a>

    <a href="/userlist" class="d-block menu-itemz">
        <div class="items d-flex justify-content-start">
            <i class="fa-regular fa-pen-to-square ms-3"></i>
            <p id="def8" class="def">User List</p>
        </div>
    </a>
    <a href="/trainingc" class="d-block menu-itemz">
        <div class="items d-flex justify-content-start">
            <i class="fa-regular fa-pen-to-square ms-3"></i>
            <p id="def1" class="def">Training</p>
        </div>
    </a>
    <a href="" class="d-block menu-itemz">
        <div class="items d-flex justify-content-start">
            <i class="fa-solid fa-business-time ms-3"></i>
            <p id="def2" class="def">Job</p>
        </div>
    </a>
    <a href="" class="d-block menu-itemz">
        <div class="items d-flex justify-content-start">
            <i class="fa-brands fa-squarespace ms-3"></i>
            <p id="def3" class="def">Others</p>
        </div>
    </a>
    <a href="/postcount" class="d-block menu-itemz">
        <div class="items d-flex justify-content-start">
            <i class="fa-brands fa-squarespace ms-3"></i>
            <p id="def6" class="def">Post Count</p>
        </div>
    </a>
</div>