<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>

    <header class="header-section">
        <div class="logo-info">
            <div>
                <img src="img/online-learning.png" class="logo-img" alt="logo">
            </div>
            
            <p class="display-6 fs-3 mt-3">Career Express</p>
        </div>
        <div class="menu-bar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Admission</a></li>
                <li><a href="#">Training</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="login-section">
            <a href="/cdash" class="btn btn-dark btn-sm text-light">Shilon Panel</a>
            <a href="/tdash" class="btn btn-secondary text-light btn-sm mx-2">Training Panel</a>
            <button class="btn btn-sm btn-light text-success"><span><i class="fa fa-user me-2"></i></span><a href="/signin">Sign in</a></button>
            <button class="ms-2 btn btn-sm btn-success text-light reg-btn"><span><i class="fa fa-user me-2"></i></span><a href="/registration">Register</a></button>
        </div>
    </header>

    <div class="section-1">
       <div class="inner-section-1 text-center text-light">
            <p class="display-6 pt-5">The Easiest Way To Get Your Job</p>
            <p>We offer various type of training, admission and job opportunity.</p>

            <form action="#" class="search-section">
                <input class="search-input" type="text" placeholder="Type your keyword here...">
                <select class="job-location" name="job-location" id="job-location">
                    <option value="Dhaka">Select Area</option>
                    <option value="Dhaka">Dhaka</option>
                    <option value="Rajshahi">Rajshahi</option>
                    <option value="Khulna">Khulna</option>
                    <option value="Barisal">Barisal</option>
                    <option value="Chattogram">Chattogram</option>
                </select>
                <button class="search-button">Search</button>
            </form>
       </div>
    </div>

    <div class="updates">
        <marquee behavior="" direction="rtl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta labore accusantium cum illo recusandae excepturi sapiente voluptate quae enim harum!</marquee>
    </div>

    <div class="section-2 row mt-3">
        <div class="col-md-8">
            <p class="display-6 text-center pt-4 text-muted fs-3">Training Program</p>

            <div class="training">
                <p class="title-training">
                    Recent Posts
                </p>
            
            <ul class="training-body">
              
                <li class="d-flex justify-content-between align-items-center">
                    <div class="headings">
                        <p class="fw-bold fs-6">AI and Machine Learning Training</p>
                        <p class="text-muted admission-description">Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="area d-flex">
                        <i class="fa-solid fa-location-dot me-2"></i>
                        <p>Airport, Dhaka</p>

                    </div>
                    <div class="details">
                        <button class="btn btn-success btn-sm me-4">View deatails</button>
                        <p class="text-muted admission-description ms-5 mt-1">3min ago</p>
                    </div>
                    
                </li>
                <hr class="hr_line_training">
                <li class="d-flex justify-content-between align-items-center">
                    <div class="headings">
                        <p class="fw-bold fs-6">Data Structure & Algorithm Program</p>
                        <p class="text-muted admission-description">Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="area d-flex">
                        <i class="fa-solid fa-location-dot me-2"></i>
                        <p>Airport, Dhaka</p>

                    </div>
                    <div class="details">
                        <button class="btn btn-success btn-sm me-4">View deatails</button>
                        <p class="text-muted admission-description ms-5 mt-1">3min ago</p>
                    </div>
                    
                </li>
                <hr class="hr_line_training">
                <li class="d-flex justify-content-between align-items-center">
                    <div class="headings">
                        <p class="fw-bold fs-6">Web 3.0 Solidity Learning Program</p>
                        <p class="text-muted admission-description">Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="area d-flex">
                        <i class="fa-solid fa-location-dot me-2"></i>
                        <p>Airport, Dhaka</p>

                    </div>
                    <div class="details">
                        <button class="btn btn-success btn-sm me-4">View deatails</button>
                        <p class="text-muted admission-description ms-5 mt-1">3min ago</p>
                    </div>
                    
                </li>
                <hr class="hr_line_training">
                <li class="d-flex justify-content-between align-items-center">
                    <div class="headings">
                        <p class="fw-bold fs-6">Blockchain Technology</p>
                        <p class="text-muted admission-description">Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="area d-flex">
                        <i class="fa-solid fa-location-dot me-2"></i>
                        <p>Airport, Dhaka</p>

                    </div>
                    <div class="details">
                        <button class="btn btn-success btn-sm me-4">View deatails</button>
                        <p class="text-muted admission-description ms-5 mt-1">3min ago</p>
                    </div>
                    
                </li>
                <hr class="hr_line_training">
              
               
            </ul>
            </div>

        </div>

        <div class="col-md-4">

            <p class="display-6 text-center pt-4 text-muted fs-3">Admission Program</p>

            <div class="admission">
                <p class="title-admission">
                    Recent Posts
                </p>
                <ul class="admission-body">
                    <% postData.forEach(function(admission){ %>
                    <li>
                        <p class="fw-bold fs-6"><%= admission.heading %></p>
                        <p class="text-muted admission-description"><%= admission.description %></p>
                        <hr class="hr_line">
                    </li>

                    <% }) %>
                    
                </ul>
            </div>
        </div>

    </div>

    <div class="section-3">
        <p class="display-6 text-muted text-center mt-5">About Us</p>

        <div class="flex-section-3 d-flex align-items-center mt-5">
        <div class="left-section-3">
            <div class="im_sec_3 text-center">
                <img src="img/information.png" alt="about-logo">
            </div>
        </div>
        <div class="right-section-3">
            <h6>A trusted and authentic platform for your future.</h6>
            <p class="section-3-description text-muted text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo ipsum in quidem possimus asperiores et, molestiae dolorum neque. Totam autem eum ipsam. Culpa fugiat corporis error ea iusto tempore enim, distinctio illum hic maxime odit, cupiditate nesciunt atque consectetur voluptate odio nulla at.</p>
            
        </div>
        </div>
        
    </div>


    <div class="section-4">
        <p class="display-6 text-muted text-center mt-5">Catagories</p>

        <div class="catagories row gy-4">

            <div class="col-md-3">
                <div class="catagory_item d-flex align-items-center p-3 text-center mx-2">
                        <i class="fa-brands fa-uncharted text-success fs-2"></i>
                        <p class="pt-3 ms-2 fw-bold">IT & Software</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="catagory_item d-flex align-items-center p-3 text-center mx-2">
                        <i class="fa-brands fa-uncharted text-success fs-2"></i>
                        <p class="pt-3 ms-2 fw-bold">Marketing</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="catagory_item d-flex align-items-center p-3 text-center mx-2">
                        <i class="fa-brands fa-uncharted text-success fs-2"></i>
                        <p class="pt-3 ms-2 fw-bold">SEO</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="catagory_item d-flex align-items-center p-3 text-center mx-2">
                        <i class="fa-brands fa-uncharted text-success fs-2"></i>
                        <p class="pt-3 ms-2 fw-bold">Cyber Security</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="catagory_item d-flex align-items-center p-3 text-center mx-2">
                        <i class="fa-brands fa-uncharted text-success fs-2"></i>
                        <p class="pt-3 ms-2 fw-bold">Graphics</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="catagory_item d-flex align-items-center p-3 text-center mx-2">
                        <i class="fa-brands fa-uncharted text-success fs-2"></i>
                        <p class="pt-3 ms-2 fw-bold">Web</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="catagory_item d-flex align-items-center p-3 text-center mx-2">
                        <i class="fa-brands fa-uncharted text-success fs-2"></i>
                        <p class="pt-3 ms-2 fw-bold">Games</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="catagory_item d-flex align-items-center p-3 text-center mx-2">
                        <i class="fa-brands fa-uncharted text-success fs-2"></i>
                        <p class="pt-3 ms-2 fw-bold">Others</p>
                </div>
            </div>
           

        </div>
    </div>





    <footer class="footer p-4 bg-dark">
        <p class="display-6 fs-3 p-3 text-muted text-center">Contact</p>

        <div class="contact-info">
            <div class="contact-left text-muted ms-5">
                <p><span><i class="fa-solid fa-phone text-muted"></i></span> +880-1723-456789</p>
                <p><span><i class="fa-brands fa-whatsapp text-muted"></i></span> +880-1723-456789</p>
                <p><span><i class="fa-brands fa-facebook text-muted"></i></span> facebook.com/careerexpress</p>
            </div>
            <div class="contact-mid text-muted">
                <p><span><i class="fa-brands fa-yahoo text-muted"></i></span> careerexpress@yahoo.com</p>
                <p><span><i class="fa-brands fa-viber text-muted"></i></span> +880-1723-456789</p>
                <p><span><i class="fa-brands fa-linkedin text-muted"></i></span> linkedin.com/careerexpressbd</p>
            </div>
            <div class="contact-right text-muted me-5">
                
                <p><span><i class="fa-solid fa-location-dot text-muted"></i></span><address>House No-27, Road No-13,<br>Sector-17, Uttara, Dhaka.</address></p>
            </div>
        </div>
        

    </footer>
    <div class="copyrights text-center text-muted">©copyright sakib 2022. All right reserved.</div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>