.img-pro{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}


.side-bar{
    background-color: rgb(24, 3, 44);
}

.items:hover{
    color: rgba(240, 248, 255, 0.408);
}

.items:hover i,.items:hover .def{
    color: white;
    /* color: black; */
}