.post-form .department{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.post-form .department select{
    width: 11.5%;
    height: 50px;
    font-size: 14px;
} 
.post-form .department .mb-3 input{
    width: 100%;
    height: 50px;
    margin-top: 14px;
} 
.post-form .department .mb-3{
    width: 11.5%;

} 
.post-form .department .mb-3 input:focus{
    box-shadow: none;
    outline: none;
} 
.post-form .department select:focus{
    box-shadow: none;
    outline: none;
} 

.publish-btn{
    margin-left: 70px;
}
.pb-btn{
    margin-top: 20px;
    margin-left: 70px;
}

hr.hr1{
    width: 90%;
    margin: 30px auto;
}

.table-box{
    width: 90%;
    margin: 0px auto;
}