*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.containers{
    display: flex;
}
.left-side{
    height: 100vh;
    width: 30%;
    background-image: linear-gradient(to right, rgb(49, 234, 173), rgb(31, 174, 174));
}
.logo-info{
    display: flex;
    align-items: center;
   
}
.logo-img{
    width:50px ;
    height:50px ;
    margin: 0px 10px;
}
.cancel{
    font-size: 24px;
    color: white;
    margin: -50px 380px;
}
.left-text-body{
    text-align: center;
    margin-top: 38%;
    color: white;
}
.left-text-body p{
    margin: 10px auto;
}

.left-text-body button{
    border: none;
    outline: none;
    width: 150px;
    background-color: white;
    color: rgb(31, 174, 174);
    padding: 7px 10px;
    border-radius: 15px;
    margin: 25px auto;
}
.right-side{
    width: 70%;
}


hr{
    width: 400px;
    margin:10px auto;
    margin-bottom: 20px;
}
.right-form-body .form{
    text-align: center;
}

.form input{
    display: block;
    width: 360px;
    padding: 6px 15px;
    background-color: rgb(234, 247, 242);
    border: none;
    outline: none;
    
    border-radius: 15px;
    font-size: 14px;
    margin: 6px auto;
    margin-top: 12px;
}

.form button{
    border: none;
    outline: none;
    width: 160px;
    background-color: rgb(31, 174, 174);
    color: white;
    padding: 7px 10px;
    border-radius: 15px;
    margin: 15px 100px;
}
.form a{
    margin-left: 145px;
}


.date-picker select{
    width: 110px;
    padding: 6px 15px;
    background-color: rgb(234, 247, 242);
    border: none;
    outline: none;
    
    border-radius: 15px;
    font-size: 14px;
    margin: 0px 7px;
}

.dobs{
    width: 360px;
    margin: 0 auto;
    margin-top: 5px;
}

.dob{
    margin: 0;
    text-align: left;
    margin-bottom: 8px;
    margin-left: 10px;
}

.form input[type="radio"]{
    display: inline-block;
    background-color: rgb(234, 247, 242);
    width: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 0px 5px;
}

.genders p{
    margin: 0;
    margin-left: 10px;
}
.genders{
    width: 360px;
    margin: 0 auto;
    margin-top: 15px;
}

form select{
    width: 360px;
    padding: 6px 15px;
    background-color: rgb(234, 247, 242);
    border: none;
    outline: none;
    
    border-radius: 15px;
    font-size: 14px;
    margin: 0px 7px;
    margin-top: 10px;
}
#msg-box{
    width: 50%;
    margin: 0px auto;
    margin-top: 20px;
    display: none;
}
#msg-box2{
    width: 50%;
    margin: 0px auto;
    margin-top: 20px;
    display: none;
}