*{
    margin: 0;
    padding: 0;
}

.expand{
    width: 15%;
}
.shrink{
    width: 85%;
}

.side-bar{

    background: linear-gradient(to left, rgb(13, 154, 107), rgb(12, 117, 117));
    width: 5%;
    height: 100vh;
    transition: 0.6s;
}
.dash-icon{
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.items .def{
    display: none;
    margin-top: 5px;
    margin-left: 16px;
    color: white;
}
.items i{
    font-size: 24px;
    color: white;
    margin-top: 5px;
    text-decoration:  none !important;
}

.items{
    padding: 10px 0px;
    transition: 0.5s;
    cursor: pointer;
    height: 54px;
    margin-top: 10px;
}
.items:hover{
    /* background: linear-gradient(to right, rgb(49, 234, 173), rgb(31, 174, 174)); */
    background-color: rgba(240, 248, 255, 0.319);

}
.items:hover i,.items:hover .def{
    /* color: white; */
    color: black;
}

.contents{
    width: 95%;
    height: 100vh;
    background-color: white;
    transition: 0.6s;
}

.tables{
    width: 90%;
    margin: 20px auto;
}

.logo img{
    height:40px ;
    width:40px ;
    margin-left: 20px;
}

.header{
    width: 100%;
    height: 60px;
    background-color: rgb(227, 234, 227);
    padding: 10px;
    padding-bottom: 20px;
}

th,td{
    text-align: center;
}